{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Campaigns</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/graphik_font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/agency_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/admin_user.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/campaigns.css' %}">
</head>
<body>
   <div class="campaigns_page admin_dashboard_page agency_dashboard_page">
    <header class="rw_header_wrapper">
        <div class="rw_header_inner">
            <div class="header_title agency_header_title" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                <h3>Starbucks</h3>
                <p>Client Account</p>
            </div>
            <div class="header_profile">
                <a href="javascript:;">
                    <h4>Jones Ferdinand</h4>
                    <div class="header_profile_image">
                        <img src="{% static 'assets/images/profile.jpg' %}" alt="image">
                    </div>
                </a>
            </div>
            <div class="rw_hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="rw_sidebar">
            <div class="header_logo">
                <a href="client_dashboard.html"><img src="{% static 'assets/images/logo.svg' %}" alt="logo"></a>
            </div>
            <ul>
                <li><a href="client_dashboard.html" ><img src="{% static 'assets/images/icons/dashboard.svg' %}" alt="dashboard"></a></li>
                <li><a href="client_contact.html"><img src="{% static 'assets/images/icons/contact.svg' %}" alt="contact"></a></li>
                <li><a href="client_list.html"><img src="{% static 'assets/images/icons/bar.svg' %}" alt="bar"></a></li>
                <li><a href="client_scheduled_broadcast.html"><img src="{% static 'assets/images/icons/broadcast.svg' %}" alt="broadcast"></a></li>
                <li><a href="campaigns.html" class="active"><img src="{% static 'assets/images/icons/campaigns.svg' %}" alt="campaigns"></a></li>
                <li><a href="coupon.html"><img src="{% static 'assets/images/icons/coupon.svg' %}" alt="coupon"></a></li>
                <li><a href="campaign_settings.html"><img src="{% static 'assets/images/icons/settings.svg' %}" alt="settings"></a></li>
            </ul>
        </div>
    </header>
    <div class="rw_inner_area rw_modal_backdrop">
        <div class="rw_dashboard_box_wrapper">
            <div class="admin_header agency_header">
                <div class="dashboard_title">
                    <h1>Campaigns</h1>
                </div>

            </div>
        </div>
        <div class="admin_user_select">
            <div class="search_icon_wrapper">
                 <div class="rw_dashboard_btn">
                    <a href="{% url 'campaign:create_campaign' %}" class="rw_btn">+new Campaign</a>
                 </div>
            </div>
         </div>
        <div class="rw_table_wrapper">
            <div class="rw_table_inner rw_admin_user_table rw_campaigns_table">
                <table id="admin_dashboard_table" class="table rw_pagination" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Created</th>
                            <th class="sorting_none text-center">Steps</th>
                            <th class="sorting_none text-center">In-Progress</th>
                            <th class="sorting_none text-center">Complete</th>
                            <th class="sorting_none text-center">Status</th>
                            <th class="sorting_none text-center">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr>
                           <td>Referral Program</td>
                           <td>3 Dec, 2021  03:00 PM</td>
                           <td class="text-center">6</td>
                           <td class="text-center">20</td>
                           <td class="text-center">20</td>
                           <td class="text-center">
                               <div class="rw_toggle_switch">
                                  <div class="rw_switch">
                                    <input type="checkbox"  checked>
                                  </div>
                               </div>
                           </td>
                           <td class="text-center">
                            <div class="action_dropdown">
                             <ul class="drop_ul">
                                 <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'assets/images/icons/action.svg' %}" alt="action"></a>
                                     <ul class="action_submenu">
                                         <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'assets/images/icons/edit.svg' %}" alt="image">edit</a></li>
                                         <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'assets/images/icons/delete.svg' %}" alt="image">delete</a></li>
                                         <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'assets/images/icons/make_default.svg' %}" alt="image">Make Default</a></li>
                                     </ul>
                                 </li>
                             </ul>
                            </div>
                        </td>
                       </tr>
                       <tr>
                        <td>Referral Program</td>
                        <td>3 Dec, 2021  03:00 PM</td>
                        <td class="text-center">6</td>
                        <td class="text-center">20</td>
                        <td class="text-center">20</td>
                        <td class="text-center">
                            <div class="rw_toggle_switch">
                               <div class="rw_switch">
                                 <input type="checkbox"  checked>
                               </div>
                            </div>
                        </td>
                        <td class="text-center">
                         <div class="action_dropdown">
                          <ul class="drop_ul">
                              <li class="position-relative"><a href="javascript:;" class="action_btn"><img src="{% static 'assets/images/icons/action.svg' %}" alt="action"></a>
                                  <ul class="action_submenu">
                                      <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'assets/images/icons/edit.svg' %}" alt="image">edit</a></li>
                                      <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'assets/images/icons/delete.svg' %}" alt="image">delete</a></li>
                                      <li><a href="javascript:;" class="remove_action" data-bs-toggle="modal" data-bs-target="#"><img src="{% static 'assets/images/icons/make_default.svg' %}" alt="image">Make Default</a></li>
                                  </ul>
                              </li>
                          </ul>
                         </div>
                     </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="offcanvas offcanvas-start agency_offcanvas" tabindex="-1" id="offcanvasExample">
            <div class="offcanvas-body">
                <div class="acoount_list_body">
                    <div class="master_ac">
                        <h4>Master Account</h4>
                        <div class="master_ac_inner">
                            <div class="master_ac_img">
                                <img src="{% static 'assets/images/icons/circle_checkmark.svg' %}" alt="image">
                            </div>
                            <div class="master_ac_text">
                                <h3>The One Media</h3>
                                <p>Client Login</p>
                            </div>
                        </div>
                    </div>
                    <div class="client_accounts">
                        <div class="cs_accounts">
                            <h4>Client Accounts</h4>
                            <div class="sorting">
                                <a href="javascript:;"><img src="{% static 'assets/images/icons/sort_up.svg' %}" alt="image"></a>
                                <a href="javascript:;"><img src="{% static 'assets/images/icons/sort_down.svg' %}" alt="image"></a>
                            </div>
                        </div>
                        <div class="search_box">
                            <input type="text" placeholder="Search accounts..">
                            <a href="javascript:;" class="inp_icon"><img src="{% static 'assets/images/icons/small_search.svg' %}"
                                    alt="image"></a>
                        </div>
                        <ul class="clientuser_list">
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>S</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Starbucks 1</h5>
                                                <p>Starbucks</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>W</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Walmart 1</h5>
                                                <p>Walmart</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>G</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Global Fresh Market 1</h5>
                                                <p>Global Fresh Market</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>D</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Dollar Pantry 1</h5>
                                                <p>Dollar Pantry</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>F</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Fresh Food Marketplace 1</h5>
                                                <p>Fresh Food Marketplace</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>r</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Rancher’s Grocery 1</h5>
                                                <p>Rancher’s Grocery</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="../client/campaign_settings.html">
                                    <div class="client_account_box">
                                        <div class="client_account_box_inner">
                                            <div class="csbox_icon">
                                                <h4>J</h4>
                                            </div>
                                            <div class="csbox_text">
                                                <h5>Jamboree Marketplace 1</h5>
                                                <p>Client Account</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="add_client">+ Add New Client</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>